html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.color-block {
  aspect-ratio: 1 / 1;
  display: inline-block;
  width: 9%;
}

.color-grid {
  display: grid;
  gap: 12px;
  grid-template-columns: 3fr 1fr 11fr;
  margin: 6px 0;
}
